/* —————— GLOBAL VARIABLES —————— */
:root
{
    --canvas-shadow:            0px 0px 10px black;
    --font-family:              Helvetica, sans-serif;
    --border-radius:            4px;
}

/* —————— GLOBAL —————— */
body
{
    box-sizing:                 border-box;
    width   :                   100vw;
    height  :                   100dvh;
    display :                   flex;
    justify-content :           center;
    align-items :               center;
    position :                  absolute;
    margin:                     0;
    background-color:           #CCC;
    color :                     white;
    font-family:                var(--font-family);
}

img, button
{
    user-select:                none;
}

.ui label.underline.sub
{
    opacity :                   0.65;
}

.ui p
{
    margin:                     0 0 var(--margin-element) 0;
}

.ui p.discreet
{
    color :                 #888;
    font-size:              13px;
}

.ui p.infos
{
    color :                 #999;
}

canvas
{
    border-radius:          var(--border-radius);
}

.ui.user,
.ui.project
{
    width :                 450px;
}

.ui.project
{
    position:               fixed;
    top:                    10px;
    left:                   10px;
}

.view
{
    box-sizing: border-box;
    width   : 100vw;
    height  : 100dvh;
    position : absolute;
}

.container-select-chk
{
    align-items: center;
    gap: 10px;
}

.select-chk .container-select-chk 
{
    margin-bottom: var(--margin-element);
}

.container-select-chk .select-control
{
    flex:   4;
}

.select-chk label
{
    display: inline-block
}

.container.tab 
{
    padding : 0;
}

#tab-views
{
    min-width: 600px;
    right : unset;
}

/* —————— PROJECT —————— */

.project .container-session-select-add
{
    display :           flex;
    gap :               var(--margin-element);
}

.project .container-session-validate-add
{
    display :           flex;
    gap :               var(--margin-element);
}

.project .text-input label
{
    flex:               1 50px;
}


.container-session-select-add > .select-control
{
    flex:               10;
}

.container-session-select-add > button
{
    flex:               0 30px;
}

/* —————— VIEW MANUAL —————— */
/* —————— VIEW BATCH —————— */

#view-explore-batch,
#view-explore-manual
{
    align-items:        center;    
    justify-content:    center;    
}

#view-explore-batch canvas,
#view-explore-manual canvas
{
    box-shadow:         var(--canvas-shadow);
    height:             90%;
}


/* —————— VIEW GALLERY —————— */

#view-gallery
{
    justify-content:    center;
}

.container-gallery
{
    max-width:          80%;
    width:              80%;
}

.images-empty
{
    position:           relative;
    width:              100%;
    height:             100dvh;
}

.images-empty .content
{
    color:              rgba(0,0,0,0.7);
    position:           relative;
    height:             calc(100% - 120px);   
    top:                60px; 
    display:            flex;
    align-items:        center;
    justify-content:    center;
    color:              black;
    box-sizing:         border-box;
    border:             1px solid rgba(0,0,0,0.7);
    border-radius:      var(--border-radius);
}


.images
{
    padding-top:             60px;
    padding-bottom:          60px;
    width:                   100%;
}

.images-group-wrapper
{
    display:                flex;
    align-items:            stretch;
    position:               relative;    
    gap :                   10px;
}

.images-group-wrapper .group-label 
{
  writing-mode:             vertical-rl;         /* Texte vertical lisible */
  text-orientation:         mixed;
  transform:                rotate(180deg);         /* Pour lire de bas en haut */
  color:                    black;
  padding:                  10px 10px;
  font-size:                18px;
  display:                  flex;
  align-items:              center;
  justify-content:          center;
}

.images-group
{
    display:                grid;
    grid-template-columns:  repeat(4, 1fr);
    gap:                    10px;    
    margin-bottom:          10px;
}

@media (max-width: 1024px) {
    .images-group
    {
        grid-template-columns:  repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .images-group
    {
        grid-template-columns:  repeat(1, 1fr);
    }

}


.images img 
{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 6px rgba(0,0,0,1);
    transition: transform 0.2s;
}

.images .img-wrapper 
{
    position : relative;
    overflow : hidden;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 6px rgba(0,0,0,1);
}

.images .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
  
.images .img-wrapper:hover img
{
    cursor: pointer;
    transform: scale(1.025);    
}

.images .img-wrapper.selected {
    outline: 2px solid red;
}

.images .img-wrapper.selected img{
    transform: scale(1.025);    
}

.images .img-wrapper .img-infos
{
    position : absolute;
    display : flex;
    font-size: 10px;
    bottom      : 4px;
    right       : 4px;
    gap         : 4px;
}

.images .img-wrapper .img-sticker
{
    flex : 1;
    border-radius: var(--border-radius);
    padding     : var(--margin-element);   
    text-align : center;
    white-space: nowrap;
}

.images .img-wrapper .icon
{
    position :  absolute;
    bottom:     4px;
    width:      24px;
    height:     24px;
    cursor:     pointer;
    opacity:    1.0;
    transition: opacity 0.25s ease;
}

.images .img-wrapper .icon:hover
{
    opacity:    0.75;
}

.images .img-wrapper .img-view
{
    left:       6px;
}

.images .img-wrapper .img-edit
{
    bottom:     7px;
    left:       36px;
    width:      18px;
    height:     18px;
}

.images .img-wrapper .img-download
{
    left:       60px;
}


.images .img-wrapper .img-edit:hover
{
    opacity:    0.75;
}

#teScore-gallery input[type=text],
#teScore-manual input[type=text]
{
    flex: unset;
    width : 30px;
}

/* —————— VIEW GALLERY : IMAGE —————— */

#view-gallery-image
{
    position:               fixed;
    justify-content:        center;
    align-items:            center;
    background-color:       rgba(255,255,255,0.9);
    transition:             opacity 0.5s ease;
    opacity :               0;
}

#view-gallery-image.show
{
    opacity : 1
}


#view-gallery-image img
{
    height:                 95%;
    border-radius:          var(--border-radius);
    box-shadow:             var(--canvas-shadow);
}


